<h1>Crear Voluntario</h1>


<form [formGroup]='voluntarioForm' fxLayout="column">

    Value:{{voluntarioForm.value | json}}
    <hr>
    <mat-form-field>
        <input matInput placeholder="nombre" formControlName="nombre">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="apellido Paterno" formControlName="apellidoPaterno">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="apellido Materno" formControlName="apellidoMaterno">
    </mat-form-field>

    <section>
        <label class="label-checkbox">Sexo    :  </label>
        <mat-radio-group formControlName="sexo">
            <mat-radio-button value="femenino">Femenino</mat-radio-button>
            <mat-radio-button value="masculino">Masculino</mat-radio-button>
        </mat-radio-group>
    </section>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Grupo Sanguineo">
            <mat-option *ngFor="let gs of gruposSanguineos" [value]="gs.value">
                {{gs.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Licencia de Conducir" formControlName="apellidoMaterno">
    </mat-form-field>

    <section>
        <label class="label-checkbox">Licencia Conducir    :  </label>
        <mat-radio-group formControlName="licenciaConducir">
            <mat-radio-button value="true">Si</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
    </section>

    <mat-form-field>
        <input matInput placeholder="direccion" formControlName="direccion">
    </mat-form-field>



</form>