<div fxLayout="row" *ngIf='loading' fxFlexFill fxLayoutAlign="center center">
    <mat-spinner>

    </mat-spinner>
</div>

<div class='card' *ngIf='!loading'>
    <mat-card>
        <mat-card-title>
            Registrar Voluntario
        </mat-card-title>
        {{voluntarioForm.value | json}}
        <mat-card-content>
            <form [formGroup]='voluntarioForm' (ngSubmit)="submitHandler()" *ngIf="!success">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <app-upload-image (imageBase64)=imageReceived($event)></app-upload-image>
                </div>
                <div fxLayout="row" fxLayout.lt-sm='column' fxLayoutGap='50px'>
                    <div fxLayout='column' fxFlex="50">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="nombre" formControlName="nombre">
                            <!-- <mat-hint>Solo Sus nombres</mat-hint> -->
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput placeholder="apellido Paterno" formControlName="apellidoPaterno">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput placeholder="apellido Materno" formControlName="apellidoMaterno">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" placeholder="Correo Electronico" formControlName="email">
                        </mat-form-field>

                        <section>
                            <label class="label-checkbox">Sexo    :  </label>
                            <mat-radio-group formControlName="sexo">
                                <mat-radio-button value="femenino">Femenino</mat-radio-button>
                                <mat-radio-button value="masculino">Masculino</mat-radio-button>
                            </mat-radio-group>
                        </section>

                        <mat-form-field appearance="outline">
                            <mat-label>Fecha de Nacimiento</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-hint>Formato : #mes/#dia/#año Ejemplo: 10/18/2018 </mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Tipo de Sangre</mat-label>
                            <mat-select placeholder="Grupo Sanguineo" formControlName="tipoSangre">
                                <mat-option *ngFor="let gs of getGrupoSanguineo()" [value]="gs.value">
                                    {{gs.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <section>
                            <label class="label-checkbox">Licencia Conducir    :  </label>
                            <mat-radio-group formControlName="licenciaConducir">
                                <mat-radio-button value="true">Si</mat-radio-button>
                                <mat-radio-button value="false">No</mat-radio-button>
                            </mat-radio-group>
                        </section>

                        <mat-form-field appearance='outline'>
                            <mat-label>Direccion</mat-label>
                            <input matInput placeholder="direccion" formControlName="direccion">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Pais</mat-label>
                            <input type="text" placeholder="Pais" aria-label="Number" matInput [formControl]="paisFormControl" [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let pais of filteredOptions | async" [value]="pais">
                                    {{pais}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-label>Departamento</mat-label>
                            <input type="text" placeholder="Departamento" aria-label="Number" matInput [formControl]="departamentoFormControl" [matAutocomplete]="auto2">
                            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                                <mat-option *ngFor="let departamento of filteredOptionsDepartamento | async" [value]="departamento">
                                    {{departamento}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Provincia</mat-label>
                            <input type="text" placeholder="Provincia" aria-label="Number" matInput [formControl]="provinciaFormControl" [matAutocomplete]="auto3">
                            <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
                                <mat-option *ngFor="let provincia of filteredOptionsProvincia | async" [value]="provincia">
                                    {{provincia}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Capital</mat-label>
                            <input type="text" placeholder="Capital" aria-label="Number" matInput [formControl]="capitalFormControl" [matAutocomplete]="auto4">
                            <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete">
                                <mat-option *ngFor="let capital of getCapitals()" [value]="capital">
                                    {{capital}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Municipio</mat-label>
                            <input type="text" placeholder="Municipio" aria-label="Number" matInput [formControl]="municipioFormControl" [matAutocomplete]="auto5">
                            <mat-autocomplete autoActiveFirstOption #auto5="matAutocomplete">
                                <mat-option *ngFor="let municipio of filteredOptionsMunicipio | async" [value]="municipio">
                                    {{municipio}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Celular</mat-label>
                            <input matInput type="number" placeholder="Celular" formControlName="celular">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Telefono Fijo</mat-label>
                            <input matInput type="number" placeholder="Telefono Fijo" formControlName="telefonoFijo">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>"Numero Carnet Identidad</mat-label>
                            <input matInput type="text" placeholder="Numero Carnet Identidad" formControlName="numeroCarnetIdentidad">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>EstadoCivil</mat-label>
                            <mat-select placeholder="Estado Civil" formControlName="estadoCivil">
                                <mat-option value="soltero">
                                    Soltero
                                </mat-option>
                                <mat-option value="casado">
                                    Casado
                                </mat-option>
                                <mat-option value="viudo">
                                    Viudo
                                </mat-option>
                                <mat-option value="divorciado">
                                    Divorciado
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div fxLayout='column' fxFlex="50">


                        <mat-form-field appearance="outline">
                            <mat-label>Nombre Tutor</mat-label>
                            <input matInput type="text" placeholder="Nombre Tutor" formControlName="nombreTutor">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Celular Tutor</mat-label>
                            <input matInput type="number" placeholder="Celular Tutor" formControlName="celularTutor">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>"Profesion</mat-label>
                            <input matInput type="text" placeholder="Profesion" formControlName="profesion">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Ocupacion</mat-label>
                            <input matInput type="text" placeholder="Ocupacion" formControlName="ocupacion">
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-label>Situacion Laboral</mat-label>
                            <mat-select placeholder="Situacion Laboral" formControlName="situacionLaboral">
                                <mat-option *ngFor="let situacion of getSituacionLaboral()" [value]="situacion.value">
                                    {{situacion.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Numero Carnet Militar</mat-label>
                            <input matInput type="number" placeholder="Numero Carnet Militar" formControlName="numeroCarnetMilitar">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Estatura(Metros)</mat-label>
                            <input matInput type="number" placeholder="Estatura(Metros)" formControlName="estatura">
                        </mat-form-field>

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Color de Piel</mat-label>
                                <input matInput type="text" placeholder="Color de Piel" formControlName="colorPiel">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Color de Ojos</mat-label>
                                <input matInput type="text" placeholder="Color de Ojos" formControlName="colorOjos">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Cabello</mat-label>
                                <input matInput type="text" placeholder="Cabello" formControlName="cabello">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Labios</mat-label>
                                <input matInput type="text" placeholder="Labios" formControlName="labios">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Nariz</mat-label>
                                <input matInput type="text" placeholder="Nariz" formControlName="nariz">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Rasgos Particulares</mat-label>
                                <input matInput type="text" placeholder="Rasgos Particulares" formControlName="rasgosParticulares">
                            </mat-form-field>
                        </div>



                        <div>
                            <div formArrayName='alergias'>
                                <div *ngFor='let alergia of  alergiasFormArray.controls; let i=index ' [formGroupName]='i'>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombre Alergia</mat-label>
                                        <input matInput placeholder="nombreAlergia" formControlName="nombreAlergia">
                                    </mat-form-field>
                                    <a mat-raised-button color='warn' (click)='deleteAlergia(i)'>Eliminar</a>
                                </div>
                            </div>
                            <a mat-raised-button color='primary' (click)='addAlergia()'> Agregar Alergia</a>
                        </div>


                        <div>
                            <div formArrayName='idiomas'>
                                <div *ngFor='let idioma of  idiomasFormArray.controls; let i=index ' [formGroupName]='i'>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombre Idioma</mat-label>
                                        <input matInput placeholder="nombreIdioma" formControlName="nombreIdioma">
                                    </mat-form-field>
                                    <a mat-raised-button color='warn' (click)='deleteIdioma(i)'>Eliminar</a>
                                </div>
                            </div>
                            <a mat-raised-button color='primary' (click)='addIdioma()'> Agregar Idioma</a>
                        </div>


                        <div>
                            <div formArrayName='hoobies'>
                                <div *ngFor='let hoobie of  hoobiesFormArray.controls; let i=index ' [formGroupName]='i'>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hoobie</mat-label>
                                        <input matInput placeholder="Pasatiempo" formControlName="nombreHoobie">
                                    </mat-form-field>
                                    <a mat-raised-button color='warn' (click)='deleteHoobie(i)'>Eliminar</a>
                                </div>
                            </div>
                            <a mat-raised-button color='primary' (click)='addHoobie()'> Agregar Hoobie</a>
                        </div>


                        <div>
                            <div formArrayName='estudiosRealizados'>
                                <div *ngFor='let estudioRealizado of  estudioRealizadosFormArray.controls; let i=index ' [formGroupName]='i'>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombre Estudio Realizado</mat-label>
                                        <input matInput placeholder="nombreEstudioRealizado" formControlName="nombreEstudioRealizado">
                                    </mat-form-field>
                                    <a mat-raised-button color='warn' (click)='deleteEstudioRealizado(i)'>Eliminar</a>
                                </div>
                            </div>
                            <a mat-raised-button color='primary' (click)='addEstudioRealizado()'> Agregar Estudios Realizados</a>
                        </div>

                        <div>
                            <div formArrayName='experienciaCampoPrimeraRespuesta'>
                                <div *ngFor='let experienciaCampoPrimeraRespuesta of  experienciaCampoPrimeraRespuestaFormArray.controls; let i=index ' [formGroupName]='i'>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Experiencia Primera Respuesta</mat-label>
                                        <input matInput placeholder="nombreExperienciaCampoPrimeraRespuesta" formControlName="nombreExperienciaCampoPrimeraRespuesta">
                                    </mat-form-field>
                                    <a mat-raised-button color='warn' (click)='deleteExperienciaCampoPrimeraRespuesta(i)'>Eliminar</a>
                                </div>
                            </div>
                            <a mat-raised-button color='primary' (click)='addExperienciaCampoPrimeraRespuesta()'> Agregar ExperienciaCampoPrimeraRespuesta</a>
                        </div>


                        <div>
                            <div formArrayName='datosFamiliares'>
                                <div *ngFor='let datoFamiliar of  datosFamiliaresFormArray.controls; let i=index ' [formGroupName]='i'>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Parentesco</mat-label>
                                        <input matInput placeholder="Parentesco" formControlName="parentesco">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombre pariente</mat-label>
                                        <input matInput placeholder="Nombre pariente" formControlName="nombre">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Apellidos pariente</mat-label>
                                        <input matInput placeholder="Apellidos pariente" formControlName="apellido">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>Domicilio Actual</mat-label>
                                        <input matInput placeholder="Domicilio Actual" formControlName="domicilio">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>Celular</mat-label>
                                        <input matInput type='number' placeholder="Celular" formControlName="celular">
                                    </mat-form-field>

                                    <a mat-raised-button color='warn' (click)='deleteDatoFamiliar(i)'>Eliminar</a>
                                </div>
                            </div>
                            <a mat-raised-button color='primary' (click)='addDatoFamiliar()'> Agregar familiar</a>
                        </div>
                    </div>
                </div>
                <button class='submit-button' mat-flat-button color="primary" type="submit"> Guardar Cambios</button>
            </form>
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
    </mat-card>

</div>




























<!-- 

<form [formGroup]='voluntarioForm' fxLayout="column" (ngSubmit)="submitHandler()" *ngIf="!success">

   
    
        <app-upload-image></app-upload-image>
        <div (load)="loadImageFile()">
            <div fxLayout="column" fxLayoutAlign="center center">
                <img id="output_image" class="card-img-top" [src]="imagenPerfil | noimage" alt="Card image cap">
                <input id="upload-Image" type='file' accept='image/*' (change)='loadImageFile()'>
            </div>
        </div>
    
     
    
        <mat-form-field>
            <input matInput placeholder="nombre" formControlName="nombre">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="apellido Paterno" formControlName="apellidoPaterno">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="apellido Materno" formControlName="apellidoMaterno">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="text" placeholder="Correo Electronico" formControlName="email">
        </mat-form-field>
    
        <section>
            <label class="label-checkbox">Sexo    :  </label>
            <mat-radio-group formControlName="sexo">
                <mat-radio-button value="femenino">Femenino</mat-radio-button>
                <mat-radio-button value="masculino">Masculino</mat-radio-button>
            </mat-radio-group>
        </section>
    
        <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field>
            <mat-select placeholder="Grupo Sanguineo" formControlName="tipoSangre">
                <mat-option *ngFor="let gs of getGrupoSanguineo()" [value]="gs.value">
                    {{gs.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
        <section>
            <label class="label-checkbox">Licencia Conducir    :  </label>
            <mat-radio-group formControlName="licenciaConducir">
                <mat-radio-button value="true">Si</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
        </section>
    
        <mat-form-field>
            <input matInput placeholder="direccion" formControlName="direccion">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Pais" aria-label="Number" matInput [formControl]="paisFormControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let pais of filteredOptions | async" [value]="pais">
                    {{pais}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
    
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Departamento" aria-label="Number" matInput [formControl]="departamentoFormControl" [matAutocomplete]="auto2">
            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                <mat-option *ngFor="let departamento of filteredOptionsDepartamento | async" [value]="departamento">
                    {{departamento}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Provincia" aria-label="Number" matInput [formControl]="provinciaFormControl" [matAutocomplete]="auto3">
            <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
                <mat-option *ngFor="let provincia of filteredOptionsProvincia | async" [value]="provincia">
                    {{provincia}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Capital" aria-label="Number" matInput [formControl]="capitalFormControl" [matAutocomplete]="auto4">
            <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete">
                <mat-option *ngFor="let capital of getCapitals()" [value]="capital">
                    {{capital}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Municipio" aria-label="Number" matInput [formControl]="municipioFormControl" [matAutocomplete]="auto5">
            <mat-autocomplete autoActiveFirstOption #auto5="matAutocomplete">
                <mat-option *ngFor="let municipio of filteredOptionsMunicipio | async" [value]="municipio">
                    {{municipio}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="number" placeholder="Celular" formControlName="celular">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="number" placeholder="Telefono Fijo" formControlName="telefonoFijo">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="text" placeholder="Numero Carnet Identidad" formControlName="numeroCarnetIdentidad">
        </mat-form-field>
    
        <mat-form-field>
            <mat-select placeholder="Estado Civil" formControlName="estadoCivil">
                <mat-option value="soltero">
                    Soltero
                </mat-option>
                <mat-option value="casado">
                    Casado
                </mat-option>
                <mat-option value="viudo">
                    Viudo
                </mat-option>
                <mat-option value="divorciado">
                    Divorciado
                </mat-option>
            </mat-select>
        </mat-form-field>
    
    
    
        <mat-form-field>
            <input matInput type="text" placeholder="Nombre Tutor" formControlName="nombreTutor">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="number" placeholder="Celular Tutor" formControlName="celularTutor">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="text" placeholder="Profesion" formControlName="profesion">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="text" placeholder="Ocupacion" formControlName="ocupacion">
        </mat-form-field>
    
    
        <mat-form-field>
            <mat-select placeholder="Situacion Laboral" formControlName="situacionLaboral">
                <mat-option *ngFor="let situacion of getSituacionLaboral()" [value]="situacion.value">
                    {{situacion.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="number" placeholder="Numero Carnet Militar" formControlName="numeroCarnetMilitar">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="number" placeholder="Estatura(Metros)" formControlName="estatura">
        </mat-form-field>
    
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Color de Piel" formControlName="colorPiel">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Color de Ojos" formControlName="colorOjos">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Cabello" formControlName="cabello">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Labios" formControlName="labios">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Nariz" formControlName="nariz">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Rasgos Particulares" formControlName="rasgosParticulares">
            </mat-form-field>
        </div>
    
    
  
        <div>
            <div formArrayName='alergias'>
                <div *ngFor='let alergia of  alergiasFormArray.controls; let i=index ' [formGroupName]='i'>
                    <mat-form-field>
                        <input matInput placeholder="nombreAlergia" formControlName="nombreAlergia">
                    </mat-form-field>
                    <a mat-raised-button color='warn' (click)='deleteAlergia(i)'>Eliminar</a>
                </div>
            </div>
            <a mat-raised-button color='primary' (click)='addAlergia()'> Agregar Alergia</a>
        </div>
    
   
        <div>
            <div formArrayName='idiomas'>
                <div *ngFor='let idioma of  idiomasFormArray.controls; let i=index ' [formGroupName]='i'>
                    <mat-form-field>
                        <input matInput placeholder="nombreIdioma" formControlName="nombreIdioma">
                    </mat-form-field>
                    <a mat-raised-button color='warn' (click)='deleteIdioma(i)'>Eliminar</a>
                </div>
            </div>
            <a mat-raised-button color='primary' (click)='addIdioma()'> Agregar Idioma</a>
        </div>
    

        <div>
            <div formArrayName='hoobies'>
                <div *ngFor='let hoobie of  hoobiesFormArray.controls; let i=index ' [formGroupName]='i'>
                    <mat-form-field>
                        <input matInput placeholder="Pasatiempo" formControlName="nombreHoobie">
                    </mat-form-field>
                    <a mat-raised-button color='warn' (click)='deleteHoobie(i)'>Eliminar</a>
                </div>
            </div>
            <a mat-raised-button color='primary' (click)='addHoobie()'> Agregar Hoobie</a>
        </div>
    

        <div>
            <div formArrayName='estudiosRealizados'>
                <div *ngFor='let estudioRealizado of  estudioRealizadosFormArray.controls; let i=index ' [formGroupName]='i'>
                    <mat-form-field>
                        <input matInput placeholder="nombreEstudioRealizado" formControlName="nombreEstudioRealizado">
                    </mat-form-field>
                    <a mat-raised-button color='warn' (click)='deleteEstudioRealizado(i)'>Eliminar</a>
                </div>
            </div>
            <a mat-raised-button color='primary' (click)='addEstudioRealizado()'> Agregar Estudios Realizados</a>
        </div>
    
        <div>
            <div formArrayName='experienciaCampoPrimeraRespuesta'>
                <div *ngFor='let experienciaCampoPrimeraRespuesta of  experienciaCampoPrimeraRespuestaFormArray.controls; let i=index ' [formGroupName]='i'>
                    <mat-form-field>
                        <input matInput placeholder="nombreExperienciaCampoPrimeraRespuesta" formControlName="nombreExperienciaCampoPrimeraRespuesta">
                    </mat-form-field>
                    <a mat-raised-button color='warn' (click)='deleteExperienciaCampoPrimeraRespuesta(i)'>Eliminar</a>
                </div>
            </div>
            <a mat-raised-button color='primary' (click)='addExperienciaCampoPrimeraRespuesta()'> Agregar ExperienciaCampoPrimeraRespuesta</a>
        </div>
    

        <div>
            <div formArrayName='datosFamiliares'>
                <div *ngFor='let datoFamiliar of  datosFamiliaresFormArray.controls; let i=index ' [formGroupName]='i'>
                    <mat-form-field>
                        <input matInput placeholder="Parentesco" formControlName="parentesco">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Nombre pariente" formControlName="nombre">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Apellidos pariente" formControlName="apellido">
                    </mat-form-field>
    
                    <mat-form-field>
                        <input matInput placeholder="Domicilio Actual" formControlName="domicilio">
                    </mat-form-field>
    
                    <mat-form-field>
                        <input matInput type='number' placeholder="Celular" formControlName="celular">
                    </mat-form-field>
    
                    <a mat-raised-button color='warn' (click)='deleteDatoFamiliar(i)'>Eliminar</a>
                </div>
            </div>
            <a mat-raised-button color='primary' (click)='addDatoFamiliar()'> Agregar familiar</a>
        </div>
        <button mat-button color="primary" type="submit" [disabled]='voluntarioForm.invalid'> Guardar</button>
    
    </form> -->