<div fxLayout="row" *ngIf='loading' fxFlexFill fxLayoutAlign="center center">
    <mat-spinner>

    </mat-spinner>
</div>

<!-- IP=INFORMACIONPERSONAL -->
<div class='divPrincipal' fxLayout="column" fxLayoutGap="20px">
    <app-informacion-personal #informacionPersonal (IPValue)="IPValue($event)"></app-informacion-personal>
    <app-datos-fisicos #datosFisicos (DFValue)="DFValue($event)"></app-datos-fisicos>
    <app-emergencia #emergencia (EValue)="EValue($event)"></app-emergencia>
    <app-informacion-extra #informacionExtra (IEValue)="IEValue($event)"></app-informacion-extra>
    <a mat-flat-button color="primary" (click)="guardar()"> Guardar </a>
</div>