 @import '../../../../theme';
 .example-container {
     padding: 5%;
 }
 
 .label-checkbox {
     padding: 20px;
 }
 
 .card-img-top {
     width: 250px;
     height: 250px;
 }
 
 section {
     margin-bottom: 15px;
     margin-top: 10px;
 }
 
 a {
     margin: 5px;
 }
 
 .submit-button {
     height: 10%;
     width: 40%;
 }
 
 .informacion-personal-card {
     color: mat-color($app-primary, 500);
     //  margin: 10px;
     //  border: 20px;
     //  border-color: black;
 }
 
 .divPrincipal {
     margin: 5px;
 }