<mat-toolbar color="primary" class="mat-elevation-z1">
    <div fxHide.lt-sm>
        <button mat-icon-button id="menu" (click)="uiService.openNav()">
        <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxHide.gt-xs>
        <button mat-icon-button id="menu" (click)="uiService.toggleNav()">
        <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxLayout="row">
        <div fxLayoutAlign="start start" fxHide.gt-xs>
            <span>{{title}}</span>
        </div>

        <div fxFlex fxLayoutAlign="flex-end" fxHide.xs>
            <button mat-button (click)="auth.googleLogin()" *ngIf="!(auth.user | async)">Iniciar Session</button>
            <button mat-button (click)="auth.logOut()" *ngIf="auth.user | async">Cerrar Session</button>
            <!-- <ul fxLayout="row" fxLayoutGap="10px" class="navigation-items">
                <li>
                    <button mat-button routerLink="/signup">Registrarse</button>
                </li>
                <li>
                    <h1 class="mat-display-1" routerLink="/signup">Registrarse</h1>
                </li>
                <li><a mat-tab-link class="mat-display-1" routerLink="/signup">Registrarse</a></li>

                <li> <a routerLink="/login">Iniciar Session</a></li>

            </ul> -->
        </div>
        <div class='backspace-toolbar' fxHide.gt-xs>
            <mat-icon (click)='cancel()' size='50px'>keyboard_backspace</mat-icon>
        </div>
    </div>
</mat-toolbar>