<mat-sidenav-container>
    <!-- <mat-sidenav #appDrawer mode="push" opened="false"> -->
    <!-- <mat-sidenav #appDrawer fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'push'" [opened]="!(isHandset$ | async)"> -->
    <mat-sidenav class="mat-elevation-z4" fixedInViewport="false" #appDrawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">


        <div fxLayout="column" *ngIf="usuarioLogeado">
            <mat-card class="example-card" color='accent'>
                <mat-card-header>
                    <img mat-card-avatar [src]="usuarioLogeado.fotoURL | noimage " alt="">
                    <mat-card-title>{{usuarioLogeado.nombreCompleto }}</mat-card-title>
                    <mat-card-subtitle>{{usuarioLogeado.email }}</mat-card-subtitle>
                </mat-card-header>

            </mat-card>
            <mat-nav-list>


                <a mat-list-item [routerLink]="['/dashboard/voluntarios/index']">
                    <mat-icon class="margin">people</mat-icon>Personas</a>
                <a mat-list-item [routerLink]="['/dashboard/especialidad/index']">
                    <mat-icon class="margin">pool</mat-icon>Especialidad</a>
                <a mat-list-item [routerLink]="['/dashboard/compania/index']">
                    <mat-icon class="margin">pets</mat-icon>Compañias</a>
                <a mat-list-item [routerLink]="['/dashboard/merito/index']">
                    <mat-icon class="margin">mood</mat-icon>Meritos</a>
                <a mat-list-item [routerLink]="['/dashboard/demerito/index']">
                    <mat-icon class="margin">mood_bad</mat-icon>Demeritos</a>
                <a mat-list-item [routerLink]="['/dashboard/baja/index']">
                    <mat-icon class="margin">block</mat-icon>Bajas</a>
                <a mat-list-item [routerLink]="['/dashboard/incorporacion/index']">
                    <mat-icon class="margin">how_to_reg</mat-icon>Incorporaciones</a>
                <a mat-list-item [routerLink]="['/dashboard/ascenso/index']">
                    <mat-icon class="margin">trending_up</mat-icon>Ascensos</a>
                <a mat-list-item [routerLink]="['/dashboard/mision/index']">
                    <mat-icon class="margin">explore</mat-icon>Misiones</a>
                <a mat-list-item [routerLink]="['/dashboard/privilegios/index']">
                    <mat-icon class="margin">settings</mat-icon>Privilegios</a>
            </mat-nav-list>
        </div>

    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>