.example-container {
    padding: 5%;
}

.label-checkbox {
    padding: 20px;
}

.card-img-top {
    width: 250px;
    height: 250px;
}

section {
    margin-bottom: 15px;
    margin-top: 10px;
}

a {
    margin: 5px;
}

.submit-button {
    height: 10%;
    width: 40%;
}