<!-- <app-voluntario-card [voluntario]="voluntario" *ngFor="let voluntario of voluntarios"> </app-voluntario-card> -->

<a mat-mini-fab color='primary' class='custom-button' routerLink="/voluntarios/create">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</a>

<!-- routerLink="/voluntarios/create" -->

<div fxLayout="column" fxLayoutGap="10px">
    <form class="example-form" fxLayout="column">
        <mat-form-field class="example-full-width">
            <input matInput matAutosize (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
    </form>

    <div fxLayoutAlign="center center" *ngIf='loading'>
        <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <div>

        <table mat-table [dataSource]="dataSource " multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <!-- <div class="example-element-diagram">
                        <div class="example-element-position"> {{element.nombre}} </div>
                        <div class="example-element-symbol"> {{element.apellidoPaterno}} </div>
                        <div class="example-element-name"> {{element.apellidoMaterno}} </div>
                        <div class="example-element-weight"> {{element.celular}} </div>
                    </div>
                    <div class="example-element-description">
                        {{element.direccion}}
                        <span class="example-element-description-attribution"> -- Wikipedia </span>
                    </div> -->
                        <div fxLayout="column">
                            <div fxLayout="row">
                                <div class="container" fxFlex="1 4 auto " fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

                                    <div class="item item-1" fxFlex="1 1 auto" fxHide.lt-sm='true' style.background="black" fxLayoutAlign='start center'>
                                        <img id="avatar" [class.mat-elevation-z8]="false" [style.border] src="/assets/img/noimage.png " alt="">
                                    </div>
                                    <div class="item item-1" fxFlex="1 1 auto" fxHide.gt-xs="true" style.background="black" fxLayoutAlign='start center'>
                                        <img id="avatarHandset" [class.mat-elevation-z8]="true" [style.border] src="/assets/img/noimage.png " alt="">
                                    </div>

                                    <div class="item item-2" fxFlex="5 1 auto" style.background="black">
                                        <div> {{element.direccion}}</div>
                                        <div> {{element.fechaNacimiento}}</div>

                                    </div>

                                    <div class="item item-3 " style.background="lightblue" fxFlex="1 1 auto">Item 3</div>

                                </div>
                            </div>

                            <div fxLayout="row">
                                <div fxLayoutAlign="start center" fxHide.lt-sm="true">
                                    <button mat-button fxFlex="wrap " color='basic' fxLayoutAlign="start "><b>Hoja de Vida</b></button>
                                    <button mat-button fxFlex="wrap " color='basic' fxLayoutAlign="start "> <b>Salvo de Riesgo</b> </button>
                                    <button mat-button fxFlex="wrap " color='basic' fxLayoutAlign="start "><b>Hoja de Filiacion</b></button>
                                </div>

                                <div fxLayoutAlign="start center" fxHide.gt-sm="true">
                                    <button mat-button (click)="openBottomSheet()"><b>Opciones</b></button>

                                </div>
                                <div fxLayoutAlign="center center" fxFlex='5 1 auto'>
                                </div>
                                <div fxLayoutAlign="end center">
                                    <a mat-button fxFlex="1 1 auto " color='basic' fxLayoutAlign="end center "><b>Editar</b></a>
                                    <!-- <a mat-button fxFlex="1 1 auto " color='basic' fxLayoutAlign="end center " (click)='deleteVoluntario(element.id)'><b>Eliminar</b></a> -->
                                    <a mat-button fxFlex="1 1 auto " color='basic' fxLayoutAlign="end center " (click)="openDialog(element)"><b>Eliminar</b></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize='10' showFirstLastButtons></mat-paginator>
    </div>

</div>