<!-- <div (load)="loadImageFile()">
    <div fxLayout="column" fxLayoutAlign="center center">
        <img id="output_image" class="card-img-top" [src]="imagenPerfil | noimage" alt="Card image cap" width="200px" height="200px">
        
    </div>
</div> -->

<mat-card class="example-card">
    <div *ngIf='fotoURL!=""'>
        <img id="output_image" mat-card-image [src]="fotoURL | noimage " alt="Card image cap">
    </div>
    <img *ngIf='fotoURL==""' id="output_image" mat-card-image [src]="imagenPerfil | noimage" alt="Card image cap">
    <input id="upload-Image" type='file' accept='image/*' (change)='loadImageFile()'>
</mat-card>