<form [formGroup]='formGroup' (ngSubmit)="onSave()">
    <mat-dialog-content>
        <h3 mt-dialog-title> Agregar Especialidad {{especialidad.nombre}}</h3>
        <div>
            <mat-card-content>
                <mat-card-header>
                    <img mat-card-avatar [src]="persona.fotoURL | noimage">
                    <mat-card-title> {{persona.nombreCompleto}} </mat-card-title>
                    <mat-card-subtitle> {{persona.grado}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card-content>

            <mat-form-field appearance='outline'>
                <mat-label>Nota</mat-label>
                <input matInput placeholder='nota' type="number" formControlName="nota">
                <mat-hint>Numero Entre 0-100</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Fecha </mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint>Formato : #mes/#dia/#año Ejemplo: 10/18/2018 </mat-hint>
            </mat-form-field>
        </div>


    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color='primary' type="submit"> Guardar</button>
        <button mat-raised-button color='warn' (click)="onClose()"> Cancelar</button>
    </mat-dialog-actions>
</form>